  <div class="mat-card" >
    <div class="mat-card-header" (click)="detail()">
      <div class="mat-card-avatar lazyimg" #lazyImg [style.background-image]="currentImg">
        <!-- <img #lazyImg class="lazy-image" [src]="currentImg" [alt]="item.title" (click)="detail()"> -->
      </div>
      <div class="mat-card-title">{{item.title}}</div>
    </div>
    <div class="mat-card-subtitle">({{item.author}}) {{item.pubDate | date: 'dd/MM/yyy h:m'}}</div>

    <div class="mat-card-content" (click)="detail()">
      <p >{{item.description}}
      </p>
    </div>
  </div>