  <div class="mat-card">
    <div class="mat-card-header" (click)="detail()">
      <div class="mat-card-avatar">
        <img class="lazy-image" src="/assets/icons/placeholder.png"  [longDesc]="item.smallthumb" [alt]="item.title" (click)="detail()">
      </div>
      <div class="mat-card-title">{{limitedTitle}}</div>
    </div>
    <div class="mat-card-subtitle">({{item.author}}) {{item.pubDate | date: 'dd/MM/yyy h:m'}}</div>

    <div class="mat-card-content" (click)="detail()">
      <p>{{item.description}}
      </p>
    </div>
  </div>