.container {
    padding: 10px;
    background-color: white;
    overflow-y: auto;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    /* height: 90vh; */
    display: flex;
    z-index: 1;
    /* margin-bottom: 153px; */
}

.toolbar {
    background: #3f51b5;
    color: #fff;
    height: 56px;
    margin: 0;
    top: 0;
    box-shadow: 0 5px 10px #ccc;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.toolbar-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.headline {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-content {
    height: 85vh;
    overflow-y: auto;
    padding: 25px;
}

.spacer {
    flex: 1 1 auto;
}

.mat-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    color: white;
    background-color: navy;
}

.mat-button:hover {
    background: cornflowerblue;
}

.kategori {
    position: fixed;
    top: 100px;
    left: 5%;
    right: 5%;
    background: #fff;
    z-index: 99;
    padding: 20px;
    box-shadow: 0 4px 26px 0 rgba(0,0,0,0.8);
    color: blue;
}

.kategori>span {
    color: blue;
    cursor: pointer;
    line-height: 32px;
}

.kategori>span:hover {
    color: red;
}