/* You can add global styles to this file, and also import other style files */
/* @import "@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "https://fonts.googleapis.com/css?family=Roboto:400,300";

@media screen 
    and (max-width: 799px)  {
        .card {
            width: 98%;
        }
        .mat-card {
            height: 270px;
        }
        .img-container {
            height: 100px;
        }
}


@media screen 
    and (min-width: 800px)
    and (max-width: 1279px)  {
        .card {
            width: 48%;
        }
        .mat-card {
            height: 240px;
        }
}

@media screen 
    and (min-width: 1280px)  {
        .card {
            width: 32%;
        }
        .mat-card {
            height: 270px;
        }
}

html, body, material-app {
    margin: 0;
    top: 33px;
    /* height: 97%; */
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    font-family: Roboto, Noto, Helvetica;
  }

.img-container {
    height: 30vh;
    overflow: hidden;
}

img { 
    width: auto;
    height: 100%;
}

figure > img {
    width: 100%;
    height: auto;
}

pre {
    background-color: wheat;
}

a {
    text-decoration: none;
}

.feed {
    display: inline-grid;
    padding: 5px;
    float: left;
}

.mat-card-header:hover, img:hover, .mat-card-content:hover {
    cursor: pointer;
}

.mat-card {
    
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 24px;
    border-radius: 2px;
}

.mat-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.mat-card-header {
    margin: 0 8px;
    display: flex;
}

.mat-card-title {
    font-weight: 600;
    font-size: 18px;
}

.mat-card-avatar {
    height: 60px;
    width: 60px;
    border-radius: 20%;
    flex-shrink: 0;
    overflow: hidden;
    margin-right: 10px;
}

.mat-card-content, .mat-card-actions {
    display: inline-block;
    margin-bottom: 10px;
}

.mat-card-subtitle {
    font-size: 14px;
    margin: 5px 0;
}

.mat-card-content {
    font-size: 16px;
}

.mat-button {
    font-size: 16px;
    font-weight: 500;
}



